*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,Arial;

}


body{

background:#151a22;
color:white;

}



header{

height:75px;

background:#0b1120;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 30px;

border-bottom:1px solid #00eaff;

}



.logo{

font-size:25px;

font-weight:bold;

color:#00eaff;

}



.actions{

display:flex;

gap:15px;

align-items:center;

}



select,a{

padding:10px 15px;

border-radius:8px;

background:#202938;

color:white;

border:1px solid #334155;

text-decoration:none;

}



main{

padding:25px;

}



h1{

color:#00eaff;

margin-bottom:25px;

}



.grid{

display:grid;

grid-template-columns:repeat(3,1fr);

gap:20px;

}



.card{

background:#202938;

padding:20px;

border-radius:15px;

box-shadow:0 10px 30px #0008;

}



.card h2{

font-size:18px;

color:#38bdf8;

margin-bottom:15px;

}



canvas{

max-height:250px;

}